# Dependencies
node_modules/
back/node_modules/
front/node_modules/

# Build outputs
dist/
front/dist/
coverage/
tmp/

# Environment files
.env
.env.*

# Logs
*.log

# Database files
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.local

# Angular cache
/.angular/cache/

# Misc
backup/
*.swp

# Ignore nested git backup metadata
front/.git_nested_backup/

.vercel
